@import 'general';

main {
  position: relative;

  h1 {
    margin-top: 30px;
  }

  .author-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
    padding: 5px 8px;
    border-radius: 8px;
    background-color: #ececec;
    color: #777777;
    box-shadow: 0px 0.5px 3px 0px rgba(0, 0, 0, 0.2);
    font-size: 16px;

    p {
      font-size: inherit;
      margin-bottom: 0;
    }

    div {
      display: flex;
      gap: 10px;

      #change-version {
        display: flex;
        align-items: center;
        gap: 6px;
        padding: 3px 5px;
        background-color: #fafafa;
        border: 1.5px solid #cccccc;
        border-radius: 7px;
      }

      #edit-article {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        background-color: $interaction-color;
        border-radius: 7px;
        cursor: pointer;
      }
    }
  }
  
  article {
    *:last-child {
      margin-bottom: 0;
    }

    blockquote, codeblock {
      display: block;
      font-size: 20px;
      margin-bottom: 20px;
      padding: 20px;
      border-left: 5px solid;
      background-color: #f5f5f5;
      border-radius: 10px;

      #block-icon {
        font-size: 35px;
        color: #ddd;
        display: block !important;
      }

      * {
        text-align: left;
      }
    }

    blockquote {
      font-style: italic;
      border-left-color: $accent-color;
    }
  
    codeblock {
      border-left-color: $secondary-accent-color;
      font-family: 'Chivo Mono', monospace;
      overflow: scroll;
      white-space: nowrap;

      * {
        font-family: inherit;
      }
    }
        
    table {
      border-collapse: separate;
      border-spacing: 0;
      border-radius: 10px;
      margin-bottom: 20px;
      box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);

      tr {
        &:first-child {
          td {
            &:first-child {
              border-top-left-radius: 10px;
            }

            &:last-child {
              border-top-right-radius: 10px;
            }
          }
        }

        &:last-child {
          td {
            &:first-child {
              border-bottom-left-radius: 10px;
            }

            &:last-child {
              border-bottom-right-radius: 10px;
            }
          }
        }
        
        &:hover {
          background-color: #f4f4f4;
        }

        td {
          padding: 12px;
        }
      }
      
      &.side tr td:first-child, &.top tr:first-child td {
        background-color: $accent-color;
        color: #ffffff;
      }

      &.side.top tr:not(:first-child) td:first-child {
        filter: brightness(110%);
      }
    }

    personsays {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 15px;
      margin: 20px 0;

      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        box-shadow: 0 0.25vw 0.75vw 0.25vw rgba(0, 0, 0, 0.2);
      }

      div {
        min-height: 45px;
        padding: 11.5px;
        border-radius: 10px;
        background-color: #eeeeee;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  main {
    h1 {
      margin-top: 20px;
    }
  
    .author-info {
      flex-direction: column;
      gap: 1.5vw;
      margin-bottom: 6vw;
      padding: 1.5vw;
      border-radius: 2vw;
      box-shadow: 0 0.125vw 0.75vw 0 rgba(0, 0, 0, 0.2);
      font-size: 4vw;

      div {
        gap: 2.5vw;
  
        #change-version {
          gap: 1.5vw;
          padding: 0.75vw 1.25vw;
          border-width: 0.375vw;
          border-radius: 1.75vw;
        }
  
        #edit-article {
          width: 7.5vw;
          height: 7.5vw;
          font-size: 4.5vw;
          border-radius: 1.75vw;
        }
      }
    }
    
    article {
      blockquote, codeblock {
        font-size: 5vw;
        margin-bottom: 5vw;
        padding: 5vw;
        border-left-width: 1.25vw;
        border-radius: 2.5vw;
  
        #block-icon {
          font-size: 8.75vw;
        }
      }

      table {
        margin-right: 0;
        margin-left: 0;
        width: 100%;
        
        tr {
          td {
            font-size: 4vw;
            padding: 1.5vw;
            text-align: center;
          }
        }
      }
  
      personsays {
        flex-direction: column;
        gap: 0;
        margin: 5vw 0;
        margin-top: -1vw;
  
        img {
          width: 12vw;
          height: 12vw;
          border-radius: 50%;
          transform: translate(2.5vw, 50%);
          box-shadow: 0 0.25vw 0.75vw 0.25vw rgba(0, 0, 0, 0.2);
        }
  
        div {
          min-height: 45px;
          padding: 2.875vw;
          padding-top: 8.875vw;
          border-radius: 2.5vw;
          box-shadow: 0 0.25vw 0.75vw 0.25vw rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
