@import 'general';
@import 'article';

.show-section {
  cursor: pointer;

  i {
    margin-left: 5px;
    position: relative;
    top: 2px;
  }
}

.showable-section {
  display: none;
}

h3 {
  font-size: 20.5px;
  
  i {
    margin: 0 5px;
  
    &:first-child {
      margin-left: 0;
    }
  }
}

h4 {
  font-size: 18.5px;
}

testh1 {
  font-size: 26px;
}

testh4 {
  font-size: 13.26px;
}

main codeblock {
  font-size: 18px;
}