@import 'general';

#search {
  margin: 20px 0 50px 0;
  display: flex;
  justify-content: center;

  input {
    width: 80%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    text-align: center;
    background-color: #efefef;
    box-shadow: 0px 1px 3px 2.5px rgba(0, 0, 0, 0.1);

    &::placeholder {
      font-size: 16px;
    }

    &:focus {
      outline: none;
    }
  }
}

.articles {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;

  .article {
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.3);
    }
    
    .image {
      flex-basis: 25%;
      
      img {
        display: block;
        height: 100%;
        width: 100%;
        border-radius: 0;
        object-fit: cover;
        object-position: center;
      }
    }
    
    .content {
      flex-basis: 75%;
      padding: 20px;
      display: flex;
      flex-direction: column;
      
      h2 {
        margin: 0;
        margin-bottom: 0;
        font-size: 33px;
        font-weight: 700;
        font-family: 'Source Sans Pro', sans-serif;
      }
      
      h3 {
        margin: 0;
        margin-bottom: 10px;
        font-size: 25px;
        font-weight: 300;
        font-family: 'Source Sans Pro', sans-serif;
      }
      
      p {
        margin: 0;
        font-size: 18px;
        margin-bottom: 15px;
      }
      
      .meta {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 13px;
        color: #777;
        margin-top: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #search {
    margin: 20px 0 50px 0;
    display: flex;
    justify-content: center;
  
    input {
      width: 100%;
      height: 10vw;
      border-radius: 2.5vw;
      font-size: 5vw;
      box-shadow: 0vw 0.25vw 0.75vw 0.625vw rgba(0, 0, 0, 0.1);
  
      &::placeholder {
        font-size: 4vw;
      }
    }
  }

  .articles {
    .article {
      max-height: 75vh;
      border-radius: 5vw;
      box-shadow: 0vw 1vw 2.5vw rgba(0, 0, 0, 0.1);
      flex-direction: column;
  
      &:hover {
        transform: translateY(-1.25vw);
        box-shadow: 0vw 1.25vw 3vw rgba(0, 0, 0, 0.3);
      }
      
      .image {
        flex-grow: 1;
        min-height: 30vw;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .content {
        h2 {
          font-size: 6.25vw;
        }
        
        h3 {
          margin-bottom: 1.75vw;
          font-size: 4.75vw;
        }
        
        p {
          font-size: 3.5vw;
          margin-bottom: 2.5vw;
        }
        
        .meta {
          justify-content: space-between;
          gap: 2.75vw;
          font-size: 2.5vw;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .articles {
    .article {
      .content {
        h2 {
          font-size: 8.25vw;
        }
        
        h3 {
          margin-bottom: 2.5vw;
          font-size: 6.25vw;
        }
        
        p {
          font-size: 4.5vw;
          margin-bottom: 3.75vw;
        }
        
        .meta {
          justify-content: space-between;
          gap: 3.5vw;
          font-size: 3.25vw;
        }
      }
    }
  }
}